#set($custom_css = "<link type='text/css' rel='stylesheet' href='/css/inPage.css'>")
#set($custom_js = "<script type='text/javascript' src='/js/jquery-ui.min.js'></script>
                    <script type='text/javascript' src='/js/globals.js'></script>")
#set($script_js = "
<script>
    $(function () {
        $('#articleSearch').on('click', function () {
            var _id = $('#searchId').val() || ''
            var _title = $('#searchKey').val() || ''
            var _onlineStatus = $('#onlineStatus').val() || ''
            var _countryId = $('#countryId').val() || ''
            window.location.href = '/article?id='+_id+'&title='+encodeURI(_title)+'&online='+_onlineStatus+'&countryId='+_countryId
        })
    })
</script>
")
<div class="header">
    <i class="fa fa-home"></i>
    <a href="/" target="main">首页</a>
    <p>»</p>
    <p>經貿信息</p>
</div>
<div class="content">
    <div class="top">
        <p>文章列表</p>
        <div class="menu">
            <a href="/article/add" target="main">
                <i class="fa fa-plus"></i>
                添加文章
            </a>
            <a href="/article">
                <i class="fa fa-recycle"></i>
                文章列表
            </a>
            <input  type="text" id="searchId" placeholder="ID" class="form-control" value="" style="float: left;padding: 2px 10px;">
            <input  type="text" id="searchKey" placeholder="文章標題" class="form-control" value="$!{key}" style="float: left;padding: 2px 10px;">
            <select name="onlineStatus" id="onlineStatus" style="padding: 2px 10px;float:left">
                <option value="">全部</option>
                <option value="1" #if($online == 1) selected #end>上架</option>
                <option value="0" #if($online == 0) selected #end>下架</option>
            </select>
            <select style="padding: 2px 10px;float:left" id="countryId" value="">
                <option value="">国家</option>
                #foreach($cou in $countries)
                    <option value="$cou.id" $!cou.selected>$cou.nameCN</option>
                #end
            </select>
            <a id="articleSearch" href="javascript:;" class="btn" style="padding: 0 10px;margin-left: 10px;line-height: 22px;border: 1px solid #ddd;">
                搜索
            </a>
        </div>
    </div>
    <div class="table">
        <table>
            <tr class="title">
                <th class="tc">ID</th>
                <th>標題</th>
                <th>來源</th>
                <th>國家</th>
                <th>操作</th>
            </tr>
            #foreach($article in $result)
            <tr>
                <td class="tc">$!article.id</td>
                <td>$!article.titleCN</td>
                <td>$!article.sourceCN</td>
                <td>$!article.country.nameCN</td>
                <td>
                    <a href="/article/get?id=$!article.id">修改</a>
                    #if($article.online == '1')
                        <a class="online" data-href="/article/offline?id=$!article.id" href="javascript:void(0)" target="_self">下線</a>
                    #else
                        <a class="online" data-href="/article/online?id=$!article.id" href="javascript:void(0)" target="_self">上線</a>
                    #end
                    <a class="delete" data-href="/article/delete?id=$!article.id" href="javascript:void(0)" target="_self">刪除</a>
                </td>
            </tr>
            #end
        </table>
    </div>
    <div style="text-align: center">
        <ul class="pagination" data-page="$!pageNo" data-href="/article?online=$!online&key=$!key" data-total="$!totalCount">
            <li class="disabled"><a href="#" class="prev" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li><a href="#" class="next" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
        <div style="display: inline-block" class="form-group">
            <div style="float: left;margin-bottom: 1px;line-height: 30px">转到</div>
            <div style="float: left;" class="gopage">
                <div class="input-group form-inline form-group">
                    <input type="text" class="form-control pageno" placeholder="" style="width:75px">
                </div>
            </div>
            <span style="float: left;" class="input-group-btn">
                    <button class="btn btn-default pagego" data-href="/article?online=$!online&key=$!key" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>