#set($custom_js = "<script type='text/javascript' src='/js/queryProduct.js'></script>")
<div style="background: #fff" class="mui-content">
    #if ($result)
        <ul class="mui-table-view">
            #foreach($product in $result)
            <li style="font-weight: bold" class="mui-table-view-cell">姓名</li>
            <li class="mui-table-view-cell">$!product.opName</li>
            <li style="font-weight: bold" class="mui-table-view-cell">智能卡号</li>
            <li class="mui-table-view-cell">$!product.cardno</li>
            <li style="font-weight: bold" class="mui-table-view-cell">产品期限</li>
            <li class="mui-table-view-cell">
                <script>
                    var d = '$!product.eDate';
                    document.write(d.substring(0, 4)+'年'+d.substring(5, 7)+'月'+d.substring(8, 10) + '日');
                </script>
            </li>
            #end
        </ul>
    #else
        查无记录
    #end
</div>