#set($custom_css = "<link type='text/css' rel='stylesheet' href='/css/inPage.css'>
                    <link type='text/css' rel='stylesheet' href='/css/jquery-ui.css'>")
#set($custom_js = "<script type='text/javascript' src='/js/jquery-ui.min.js'></script>
                    <script type='text/javascript' src='/js/ajaxfileupload.js'></script>
                    <script type='text/javascript' src='/js/globals.js'></script>
                    <script type='text/javascript' src='/js/category.js'></script>")

<div class="header">
    <i class="fa fa-home"></i>
    <a href="/" target="main">首页</a>
    <p>»</p>
    <p>展會類目</p>
</div>
<div class="content">
    <div class="top">
        <p>添加展會類目信息</p>
        <div class="menu">
            <a href="/conventionCategory/add" target="main">
                <i class="fa fa-plus"></i>
                添加展會類目
            </a>
            <a href="/conventionCategory" target="main">
                <i class="fa fa-recycle"></i>
                全部展會類目
            </a>
        </div>
    </div>
    <div class="tabBox">
        <div class="menu">
            <p></p>
            <a class="current" href="javascript: void(0);">通用信息</a>
        </div>
        <div class="tab">
            <div class="child">
                <ul id="mainForm">
                    #*<input type="hidden" id="parentId" value="$!category.parentId">*#
                    <input type="hidden" id="id" value="$!category.id">
                    #*<li>
                        <p style=" width: 160px;">
                            <i class="require">*</i>
                            父類目：
                        </p>
                        <input type="text" id="category" value="$!category.category">
                        <input type="hidden" id="categoryId" value="$!category.parentId">
                        <button id="selectCT">选择</button>
                    </li>*#
                    <li>
                        <p style=" width: 160px;">
                            <i class="require">*</i>
                            名稱(中文)：
                        </p>
                        <input id="nameCN" type="text" value="$!category.nameCN">
							<span>
								<i class="fa fa-exclamation-circle yellow"></i>
								請填寫中文
							</span>
                    </li>
                    <li>
                        <p style=" width: 160px;">
                            <i class="require">*</i>
                            名稱(英文)：
                        </p>
                        <input id="nameEN" type="text" value="$!category.nameEN">
							<span>
								<i class="fa fa-exclamation-circle yellow"></i>
								請填寫英文
							</span>
                    </li>
                    <li>
                        <p style=" width: 160px;">
                            <i class="require">*</i>
                            名稱(葡文)：
                        </p>
                        <input id="namePT" type="text" value="$!category.namePT">
							<span>
								<i class="fa fa-exclamation-circle yellow"></i>
								請填寫葡文
							</span>
                    </li>
                    <li>
                        <p style=" width: 188px;">&nbsp;</p>
                        <button class="submit" id="mainBtn">保存</button>
                        <button onclick="history.go(-1);">返回</button>
                    </li>
                </ul>
            </div>
            #*<div id="dialogCT" title="添加类目">
                <iframe src="/conventionCategory/query" width="650" height="420" style="display: none;border: 0"></iframe>
            </div>*#
    </div>
</div>