#set($custom_css = "<link type='text/css' rel='stylesheet' href='/css/inPage.css'>")
#set($custom_js = "<script type='text/javascript' src='/js/jquery-ui.min.js'></script>
                    <script type='text/javascript' src='/js/globals.js'></script>
                    <script type='text/javascript' src='/js/product.js'></script>")
<div class="header">
    <i class="fa fa-home"></i>
    <a href="/" target="main">首页</a>
    <p>»</p>
    <p>商品管理</p>
</div>
<div class="content">
    <div class="top">
        <p>商品列表</p>
        <div class="menu">
            <a href="/product/add" target="main">
                <i class="fa fa-plus"></i>
                添加商品
            </a>
            <a href="/product">
                <i class="fa fa-recycle"></i>
                商品列表
            </a>
            <input type="text" id="searchId" placeholder="ID" class="form-control" value=""
                   style="float: left;padding: 2px 10px;">
            <input type="text" id="searchKey" placeholder="商品名" class="form-control" value="$!{key}"
                   style="float: left;padding: 2px 10px;">
            <select name="onlineStatus" id="searchStatus" style="padding: 2px 10px;float:left">
                <option value="">全部</option>
                <option value="1" #if($online == 1) selected #end>上架</option>
                <option value="0" #if($online == 0) selected #end>下架</option>
            </select>
            <a id="productSearch" href="javascript:;" class="btn"
               style="padding: 0 10px;margin-left: 10px;line-height: 22px;border: 1px solid #ddd;">
                搜索
            </a>
        </div>
    </div>
    <div class="table">
        <table>
            <tr class="title">
                <th class="tc">ID</th>
                <th>名稱</th>
                <th>企業</th>
                <th>產地</th>
                <th>價格</th>
                <th>操作</th>
            </tr>
            #foreach($product in $result)
                <tr>
                    <td class="tc">$!product.id</td>
                    <td>$!product.name</td>
                    <td>$!product.company</td>
                    <td>$!product.country.nameCN</td>
                    <td>$!product.price</td>
                    <td>
                        <a href="/product/get?id=$!product.id">修改</a>
                        #if($product.online == '1')
                            <a class="online" data-href="/product/offline?id=$!product.id" href="javascript:void(0)"
                               target="_self">下架</a>
                        #else
                            <a class="online" data-href="/product/online?id=$!product.id" href="javascript:void(0)"
                               target="_self">上架</a>
                        #end
                        <a class="delete" data-href="/product/delete?id=$!product.id" href="javascript:void(0)"
                           target="_self">刪除</a>
                    </td>
                </tr>
            #end
        </table>
    </div>
    <div style="text-align: center">
        <ul class="pagination" data-page="$!pageNo" data-href="/product?online=$!online&key=$!key"
            data-total="$!totalCount">
            <li class="disabled"><a href="#" class="prev" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li><a href="#" class="next" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
        <div style="display: inline-block" class="form-group">
            <div style="float: left;margin-bottom: 1px;line-height: 30px">转到</div>
            <div style="float: left;" class="gopage">
                <div class="input-group form-inline form-group">
                    <input type="text" class="form-control pageno" placeholder="" style="width:75px">
                </div>
            </div>
            <span style="float: left;" class="input-group-btn">
                    <button class="btn btn-default pagego" data-href="/product?online=$!online&key=$!key" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>