#set($custom_css = "<link type='text/css' rel='stylesheet' href='/css/inPage.css'>")
#set($custom_js = "<script type='text/javascript' src='/js/globals.js'></script>")
<div class="header">
    <i class="fa fa-home"></i>
    <a href="/" target="main">首页</a>
    <p>»</p>
    <p>屬性管理</p>
</div>
<div class="content">
    <div class="top">
        <p>屬性列表</p>
        <div class="menu">
            <a href="/property/add" target="main">
                <i class="fa fa-plus"></i>
                添加屬性
            </a>
            <a href="">
                <i class="fa fa-recycle"></i>
                屬性列表
            </a>
        </div>
    </div>
    <div class="table">
        <table>
            <tr class="title">
                <th class="tc">ID</th>
                <th>名稱(中文)</th>
                <th>名稱(英文)</th>
                <th>名稱(葡文)</th>
                <th>操作</th>
            </tr>
            #foreach($property in $result)
            <tr>
                <td class="tc">$!property.id</td>
                <td>$!property.nameCN</td>
                <td>$!property.nameEN</td>
                <td>$!property.namePT</td>
                <td>
                    <a href="/property/get?id=$!property.id">修改</a>
                    <a class="delete" data-href="/property/delete?id=$!property.id" href="javascript:void(0)" target="_self">刪除</a>
                </td>
            </tr>
            #end
        </table>
    </div>
    <div style="text-align: center">
        <ul class="pagination" data-page="$!pageNo" data-href="/property" data-total="$!totalCount">
            <li class="disabled"><a href="#" class="prev" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li><a href="#" class="next" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </div>
</div>