<!-- 全局常量设置 -->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>长广户户通</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="/css/mui.min.css">
    $!custom_css
    $!custom_head
</head>

<body>

<!-- 内容页 -->
    $!screen_content

    <script type="text/javascript" src="/js/jQuery.js"></script>
    <script type="text/javascript" src="/js/mui.min.js"></script>
    $!custom_js
    $!script_js
</body>
</html>



